<% layout('layouts/boilerplate') %>

<div class="col-10 offset-1 pt-4">
    <h1 class="fw-light">Preschools & Kindergartens in <span class="fw-bold"><%= schools[0].context.continent.name %></span> <span>(<%= schools.length %>)</span></h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="fa-solid fa-house"></i></a></li>
            <li class="breadcrumb-item"><a href="/<%= schools[0].context.continent.lowercase %>" class="text-decoration-none"><strong><%= schools[0].context.continent.name %></strong></a></li>
        </ol>
    </nav>

    <% console.log(counts) %>
    <% for (const [key, value] of Object.entries(counts)) { %>
        
        <a class="text-decoration-none" href="/<%= schools[0].context.continent.lowercase %>/">
            <button class="btn btn-outline-dark position-relative"><span class="country-btn"><%= key %></span>
                <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-dark text-light">
                    <%= value %>
                  </span>
            </button>
        </a>
    <% } %>
</div>

<script>
const countryBtns = document.querySelectorAll('.country-btn');
countryBtns.forEach(el => {
    const name = el.textContent;
    const lowercase = name.split(' ').join('_').toLowerCase();
    const href = el.parentElement.parentElement.getAttribute('href');
    const new_href = href + lowercase;
    el.parentElement.parentElement.setAttribute('href', new_href)
})
</script>